template(name="ooNativeScroller")
  div.js-noEdgeDrag(oo-NativeScroller="{{oo}}" class='{{topShadow}} {{bottomShadow}}' )
    .oo-NativeScroller--fake-height
      +Template.contentBlock
      //- if isLoading
      //-   +famousLoader
