template(name="ooNativeScroller")
  div.js-noEdgeDrag(oo-NativeScroller="{{oo}}" class='{{topShadow}} {{bottomShadow}}' )
    if fakeHeight
      .oo-NativeScroller--fake-height
        +Template.contentBlock
    else
      +Template.contentBlock
      //- if isLoading
      //-   +famousLoader
